<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../assets/css/responsive.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap"/>
</head>
<body class="purchase-body">

<div class="confirm-purchase-body fixed-top" style="visibility: visible; opacity: 1">
    <div class="logo-thecup">
        <img src="/thecup/resources/img/logo-login-register.svg" alt="">
    </div>
    <div class="register-holder">
        <div class="upper">
            <p class="reg-title">Thông tin thanh toán</p>
            <p class="purchase-text">Số tiền thanh toán</p>
            <p class="purchase-amount">200.000</p>

            <div class="custom-divider"></div>
            <div class="custom-decor-left"></div>
            <div class="custom-decor-right"></div>

            <div class="purchase-information-holder">
                <div class="line">
                    <div class="row">
                        <div class="col-md-5">
                            <p class="title">Loại thanh toán</p>
                        </div>
                        <div class="col-md-7">
                            <p class="value">Thanh toán gói dịch vụ</p>
                        </div>
                    </div>
                </div>
                <div class="line">
                    <div class="row">
                        <div class="col-md-5">
                            <p class="title">Mã hóa đơn</p>
                        </div>
                        <div class="col-md-7">
                            <p class="value">5BNH8HN9KCBNDGH147</p>
                        </div>
                    </div>
                </div>
                <div class="line">
                    <div class="row">
                        <div class="col-md-5">
                            <p class="title">Nội dung thanh toán</p>
                        </div>
                        <div class="col-md-7">
                            <p class="value">Thanh toán gói dịch vụ 1 tháng</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="oauth-button">
                <button class="btn btn-outline-secondary btn-cancel-purchase">
                    <span>Hủy bỏ</span>
                </button>
                <button class="btn btn-primary btn-accept-purchase">
                    <span>Xác nhận</span>
                </button>
            </div>

        </div>
        <div class="lower">
            <div class="login-block">
                <span class="text">Mọi vấn đề phát sinh vui lòng liên hệ</span>
                <button class="btn btn-purchase-contact">
                    <span class="login">1800 9990</span>
                </button>
            </div>
        </div>
    </div>
</div>

<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/main.js"></script>
<script src="../assets/js/bootstrap.bundle.min.js"></script>
<script src="../assets/owlcarousel/owl.carousel.min.js"></script>
<script src="https://kit.fontawesome.com/16985780f3.js" crossorigin="anonymous"></script>
</body>
</html>