<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../assets/css/responsive.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap"/>
</head>
<body class="post-body">
<!--Navigator-bar-->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="/thecup/">
            <img class="logo" height="40" src="/thecup/resources/img/Logo.svg" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon material-icons material-icons-outlined">
            menu
            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Trang chủ</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Kinh tế
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/thecup/template/economy.html">Trang kinh tế</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Các phân nhóm khác</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Sống
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/thecup/template/life.html">Trang Sống</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Các phân nhóm khác</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Công nghệ
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/thecup/template/life.html">Trang Sống</a></li>
                        <li><a class="dropdown-item" href="#">Phân nhóm 2</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Các phân nhóm khác</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Nghệ thuật</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Thể thao</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/thecup/template/search.html">
                        <i class="fas fa-search"></i>
                    </a>
                </li>
            </ul>
            <div class="nav-register">
                <a href="/thecup/template/login.html" class="">
                    <button class="btn btn-light" type="submit">Đăng nhập</button>
                </a>
                <a href="/thecup/template/register.html" class="">
                    <button class="btn btn-light ms-1" type="submit">Đăng ký</button>
                </a>

            </div>
        </div>
    </div>
</nav>
<!--Navigator-bar-end-->
<!--Category-banner-start-->
<div class="category-banner">
    <div class="text-block">
        <p class="category">Chuyên mục</p>
        <p class="eco">Sống</p>
    </div>
</div>
<!--Category-banner-end-->
<!--News-start-->
<div class="news-holder">
    <div class="container">
        <div class="row">
            <div class="news-main col-md-8">
                <div class="post-holder">
                    <div class="post-title">
                        <p class="title-name">Cần biết về Covid-19 và tiêm phòng ngừa Covid-19</p>
                        <div class="author-date-rating">
                            <div class="author">
                                <a href="/thecup/template/author.html">
                                    <span class="material-icons material-icons-outlined">
                                    person
                                    </span>
                                    <span>Chu Thụy Nguyên</span>
                                </a>
                            </div>
                            <div class="date">
                                <span class="material-icons material-icons-outlined">
                                today
                                </span>
                                <span>12/05/2021</span>
                            </div>
                            <div class="rating-holder">
                                <span class="text">Đánh giá</span>
                                <span class="material-icons material-icons-outlined">
                  star
                </span>
                                <span class="material-icons material-icons-outlined">
                  star
                </span>
                                <span class="material-icons material-icons-outlined">
                  star
                </span>
                                <span class="material-icons material-icons-outlined">
                  star_half
                </span>
                                <span class="material-icons material-icons-outlined">
                  star_outline
                </span>
                                <span class="quantity">(23)</span>
                            </div>
                        </div>
                    </div>
                    <div class="post-content">
                        <p class="short-description">Sáng 25.02.2021, tại Worcester, Massachusetts, dược sĩ Mc. Bill nói
                            chuyện ông đã trả lời mọi
                            câu hỏi đặt ra liên quan đến covid-19, vaccine ngừa covid-19, và những thắc mắc liên quan
                            đến việc tiêm phòng. Nội dung cuộc nói chuyện đã được cô Chu Thuỵ Nguyên ghi chép lại, xin
                            được chia sẻ cùng các độc giả</p>
                        <img src="../resources/img/post/post-img-1.png" alt="" class="image">
                        <div class="section-header">
                            <img src="../resources/img/lozenge.svg" alt="" class="lozenge">
                            <p class="section-number">Phần 1</p>
                            <p class="section-name">Cơ sở lý thuyết</p>
                        </div>
                        <p class="post-text">Trước tiên dược sĩ đã nhấn mạnh để chúng ta hiểu rõ về vaccine ngừa
                            covid-19 lần này, so với các loại vaccine truyền thống mà chúng ta từng được tiêm ngừa như:
                            phòng đậu mùa, uốn ván, lao phổi, phong …. Ở các thuốc ngừa truyền thống đó nhà sản xuất đã
                            tạo vaccine ra bằng cách dùng chính con virus gây ra bệnh đó, làm cho nó suy yếu bớt đi, sau
                            đó tiêm nó vào cơ thể con người. Cơ thể chúng ta luôn có sự đề kháng lại với bất cứ vật lạ
                            nào, kể cả vi trùng lạ xâm nhập. Các kháng thể trong người chúng ta luôn giữ vai trò các
                            chiến sĩ phòng thủ, mỗi khi thấy sinh vật lạ xâm nhập là các quân lính tinh nhuệ ấy sẽ bao
                            vây và tiêu diệt các sinh vật lạ ấy (Khi đó chúng ta có thể có phản ứng như: sốt, đau nhức…)
                            Và cuộc chiến ấy nhằm mục đích thao dợt trước cho các chiến sĩ đề kháng của chúng ta chiến
                            đấu tốt để luôn sẵn sàng bảo vệ cơ thể chúng ta. Lỡ một mai, vi trùng các bệnh ấy xâm nhập
                            thật vào cơ thể chúng ta, đội ngũ các chiến sĩ đã quen mặt quân địch rồi nên chúng sẽ kéo
                            nhau ra bao vây và tiêu diệt vi trùng kia để bảo vệ cơ thể chúng ta.</p>
                        <img src="../resources/img/post/post-img-2.png" alt="" class="image">
                        <p class="post-text">Nhưng với Covid-19 ngày nay thì khác, tầm sát hại của nó quá lớn và mạnh,
                            vì vậy ngành dược không thể áp dụng phương thức truyền thống, tức là lấy virus covid làm yếu
                            đi để chích vào cơ thể chúng ta được, vì như vậy sẽ rất nguy hiểm cho bệnh nhân.</p>
                        <div class="text-break"></div>
                        <p class="post-text">Do đó, vaccine chủng ngừa covid-19 lần này được các nhà bào chế áp dụng
                            phương pháp mới có
                            tên gọi là MRNA Vaccine. Vaccine phòng covid-19 của Mỹ hiện nay do 2 hảng Pfizer và Moderna
                            bào chế hiệu quả 95% đều là loại MRNA Vaccine. Với loại vaccine này các nhà bào chế không
                            dùng virus covid-19 làm suy yếu đi, nhưng các nhà bào chế đã nghiên cứu thấy hình thù của
                            con virus covid-19 có dạng của một tế bào có gai lởm chởm. Từ đó, các nhà bào chế đã chế tạo
                            vaccine MRNA này. Khi tiêm loại vaccine này vào người, các tế bào trong cơ thể của chúng ta
                            sẽ bao vây, nhai nuốt ngấu nghiến và ăn sạch các MRNA này, và ngay sau đó sẽ tạo ra một loại
                            protein có gai lởm chởm giống y hình thù con virus covid-19. Và ở ngay mũi tiêm phòng thứ
                            nhứt, kháng thể trong cơ thể mình liền vùng lên chống lại những tế bào có gai đó. Đây chính
                            là cuộc tập trận giả mà bia để bắn là hình thù y chang kẻ địch trong tương lai. Đến khi tiêm
                            phòng mũi thứ 2, lượng protein có gai càng nhiều hơn, quân lính kháng thể sẽ tăng cường sức
                            mạnh lên nhiều. Và một ngày nào đó, nếu bạn chẳng may dính đúng covid-19 thứ thiệt. Khỏe re!
                            Kháng thể sẽ lao ra nhận diện kẻ thù, ồ! Cũng toan là đám giặc có gai, chẳng mấy chốc đã
                            nghe quân kháng thể đồng lòng hét thật to: - Bọn gai đây rồi! Chiến đấu thôi! Vậy là virus
                            covid-19 thứ thiệt sẽ bị tiêu diệt chết như rạ thôi. Tóm lại, chích thuốc chủng ngừa covid
                            -19 lần này là chích chất liệu sẽ tạo các tế bào hình gai giống cá tế bào covid-19 thật cho
                            cơ thể của mình.</p>
                        <div class="text-break"></div>
                        <p class="post-text">
                            Hiện nay, chúng ta nói công nghệ bào chế Vaccine MRNA này là mới, nhưng thật ra Mỹ đã tìm ra
                            cách đây 15 năm trước nhưng bây giờ mới mang ra sử dụng. Sau đây là những câu thắc mắc xoay
                            quanh đề tài này và các giải đáp từ phía dược sĩ Mc. Bill.
                        </p>
                        <div class="section-header">
                            <img src="../resources/img/lozenge.svg" alt="" class="lozenge">
                            <p class="section-number">Phần 2</p>
                            <p class="section-name">Hỏi và đáp</p>
                        </div>

                        <div class="q-and-a-collapse-holder">
                            <div class="question-holder">
                                <button class="btn" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseExample" aria-expanded="false"
                                        aria-controls="collapseExample">
                                    <span class="add material-icons material-icons-outlined">
                                    remove
                                    </span>
                                </button>
                                <span class="question">Người đã bị covid-19 rồi và đã khỏi bệnh có nên chích vaccine ngừa covid nữa không?</span>
                            </div>
                            <div class="collapse" id="collapseExample">
                                <div class="card card-body">
                                    Chúng ta đã bị covid-19 và đã khỏi, nhưng không có gì bảo đảm là chúng ta không dính
                                    lại và nặng hơn. Do đó khi được chích vẫn nên chích ngừa.
                                </div>
                                <div class="vertical-divider"></div>
                            </div>
                        </div>

                        <p class="subsidiary">Tin bên lề</p>
                        <div class="text-break"></div>
                        <p class="post-text">
                            Có nghiên cứu cho thấy những người thường xuyên mang kính, như kính cận, kính lão… nguy cơ
                            mắc covid-19 giảm đi 30% do họ không đưa tay lên dụi mắt để bắt nhịp cầu cho virus vào cơ
                            thể mình. Những người thường xuyên dùng mask (khẩu trang) cũng vậy, vì họ hạn chế bớt việc
                            đưa tay lên gải mũi hay miệng.</p>
                        <div class="text-break"></div>
                        <p class="post-text">
                            Rõ rồi nhé ! Đừng nói tôi bị virus vì có cơn gió thật vô tình ngoài phố đã gởi con covid đến
                            thăm tôi nhé! Mà phải hiểu do chính bạn dùng tay của mình, thật thân ái cầm tay kẻ thù ân
                            cần mời dắt nó vào nhà mình cho nó đốt nhà mình nhé.</p>
                        <div class="maxim-holder">
                            <iframe class="comma" src="../resources/img/comma.svg" width="40px" height="40px"></iframe>
                            <p class="maxim"> Oh No! Always Wash Your Hands Please.
                            </p>
                        </div>
                        <div class="divider"></div>
                        <div class="rating-holder">
                            <div class="text">
                                <span>Đánh giá bài viết</span>
                            </div>
                            <div class="star">
                    <span class="material-icons material-icons-outlined">
                        star
                    </span>
                                <span class="material-icons material-icons-outlined">
                        star
                    </span>
                                <span class="material-icons material-icons-outlined">
                        star
                    </span>
                                <span class="material-icons material-icons-outlined">
                        star_half
                    </span>
                                <span class="material-icons material-icons-outlined">
                        star_outline
                    </span>
                                <p>Bài viết tạm ổn</p>
                            </div>
                            <button class="btn btn-outline-primary send-rating">Gửi đánh giá</button>
                        </div>
                        <div class="divider"></div>
                        <div class="news-ads-banner">
                            <img src="../resources/img/ads-banner/banner-1.png" alt="">
                        </div>
                        <div class="comment">
                            <div class="title">
                                <p>Bình luận</p>
                            </div>
                            <div class="comment-block">
                                <div class="row">
                                    <div class="col-md-1">
                                        <div class="user-avatar"></div>
                                    </div>
                                    <div class="col-md-11">
                                        <p class="user-name">tranvanan122</p>
                                        <p class="comment-text">“Bài viết hay, bổ ích mới chỉ áp dụng được một phần thôi
                                            đã thấy
                                            hiệu quả hẳn ra. Nếu áp dụng được hết chắc chắn sẽ thành công”</p>
                                        <p class="comment-date-time">12/05/2021 20:12</p>
                                    </div>
                                </div>
                                <button class="btn btn-outline-secondary dropdown-toggle comment-block-button fas fa-ellipsis-v"
                                        type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="#">Thích</a></li>
                                    <li><a class="dropdown-item" href="#">Không thích</a></li>
                                    <li><a class="dropdown-item" href="#">Báo cáo</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Ẩn</a></li>
                                </ul>
                            </div>
                            <div class="comment-block">
                                <div class="row">
                                    <div class="col-md-1">
                                        <div class="user-avatar"></div>
                                    </div>
                                    <div class="col-md-11">
                                        <p class="user-name">phanvantai123</p>
                                        <p class="comment-text">Đã từng là quản lý và đã thất bại. Thật sự là không hề
                                            dễ. Cảm ơn
                                            tác giá đã có một bài viết rất ý nghĩa và sâu sắc</p>
                                        <p class="comment-date-time">12/05/2021 20:12</p>
                                    </div>
                                </div>
                                <button class="btn btn-outline-secondary dropdown-toggle comment-block-button fas fa-ellipsis-v"
                                        type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" href="#">Thích</a></li>
                                    <li><a class="dropdown-item" href="#">Không thích</a></li>
                                    <li><a class="dropdown-item" href="#">Báo cáo</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Ẩn</a></li>
                                </ul>
                            </div>
                            <div class="post-comment">
                                <div class="row">
                                    <div class="col-md-1">
                                        <div class="user-avatar"></div>
                                    </div>
                                    <div class="col-md-11">
                                        <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here"
                                          id="floatingTextarea"></textarea>
                                            <label for="floatingTextarea">Để lại bình luận của bạn</label>
                                        </div>
                                        <button class="btn btn-primary">Đăng bình luận</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="news-newest col-md-4">
                <div class="new-post-block">
                    <p class="newest-block-title">Bài viết được xem nhiều</p>
                    <div class="newest-post">
                        <div class="row">
                            <div class="col-3">
                                <img src="../resources/img/newest/newest-post-img-1.png" alt="">
                            </div>
                            <div class="col-9">
                                <p class="new-post-title">Sống ý nghĩa hơn nếu biết buông bỏ, nếu biết hài lòng với
                                    những gì
                                    mình có</p>
                                <p class="new-post-category">Sống</p>
                            </div>
                        </div>
                    </div>
                    <div class="newest-post">
                        <div class="row">
                            <div class="col-3">
                                <img src="../resources/img/newest/newest-post-img-2.png" alt="">
                            </div>
                            <div class="col-9">
                                <p class="new-post-title">Đầu tư vào chứng khoán cho người mới
                                    bắt đầu</p>
                                <p class="new-post-category">Kinh tế</p>
                            </div>
                        </div>
                    </div>
                    <div class="newest-post">
                        <div class="row">
                            <div class="col-3">
                                <img src="../resources/img/newest/newest-post-img-3.png" alt="">
                            </div>
                            <div class="col-9">
                                <p class="new-post-title">Chiếc tai nghe đắt nhất thế giới có gì hay?</p>
                                <p class="new-post-category">Sống</p>
                            </div>
                        </div>
                    </div>
                    <div class="newest-post">
                        <div class="row">
                            <div class="col-3">
                                <img src="../resources/img/newest/newest-post-img-4.png" alt="">
                            </div>
                            <div class="col-9">
                                <p class="new-post-title">The Cup ra mắt app mobile giúp độc giả tiếp
                                    cận mọi lúc mọi nơi</p>
                                <p class="new-post-category">Sống</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="new-podcast-block">
                    <p class="newest-block-title">các seri podcast nghe nhiều</p>
                    <div class="newest-post">
                        <div class="row">
                            <div class="col-3">
                                <img src="../resources/img/newest/newest-podcast-img-1.png" alt="">
                            </div>
                            <div class="col-9">
                                <p class="new-post-title">Kinh nghiệm X2 tài khoản chỉ trong vòng 3 tháng</p>
                                <p class="new-post-category">kinh tế</p>
                            </div>
                        </div>
                    </div>
                    <div class="newest-post">
                        <div class="row">
                            <div class="col-3">
                                <img src="../resources/img/newest/newest-podcast-img-2.png" alt="">
                            </div>
                            <div class="col-9">
                                <p class="new-post-title">Smartwatch đầu tiên được sản xuất tại Việt
                                    Nam</p>
                                <p class="new-post-category">kinh tế</p>
                            </div>
                        </div>
                    </div>
                    <div class="newest-post">
                        <div class="row">
                            <div class="col-3">
                                <img src="../resources/img/newest/newest-podcast-img-1.png" alt="">
                            </div>
                            <div class="col-9">
                                <p class="new-post-title">Thử nghiệm oto điện Vinfast? Liệu đã đủ vươn
                                    ra thế giới?</p>
                                <p class="new-post-category">Sống</p>
                            </div>
                        </div>
                    </div>
                    <div class="newest-post">
                        <div class="row">
                            <div class="col-3">
                                <img src="../resources/img/newest/newest-podcast-img-4.png" alt="">
                            </div>
                            <div class="col-9">
                                <p class="new-post-title">The Cup ra mắt app mobile giúp độc giả có thể tiếp
                                    cận mọi lúc mọi nơi</p>
                                <p class="new-post-category">Sống</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Economy-end-->
<!--Footer-start-->
<footer class="footer-holder">
    <div class="footer-upper">
        <div class="container d-flex">
            <div class="footer-upper-content row">
                <div class="col-md-3">
                    <p class="footer-title">Khám phá nhiều hơn
                        các chủ đề nổi bật</p>
                </div>
                <div class="col-md-9 fix-margin">
                    <div class="row row-cols-auto">
                        <div class="col-4 col-md d-flex end">
                            <a href="/thecup/template/economy.html">
                                <div class="footer-content-box">
                                    <div class="footer-content-box-inner">
                                        <img class="content-box-icon material-icons" src="/thecup/resources/img/icon/ic_economy.svg">
                                        <div class="content-box-divider1"></div>
                                        <div class="content-box-divider2"></div>
                                        <p class="content-box-cat-name">Kinh tế</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-4 col-md d-flex center">
                            <a href="/thecup/template/life.html">
                                <div class="footer-content-box">
                                    <div class="footer-content-box-inner">
                                        <img class="content-box-icon material-icons" src="/thecup/resources/img/icon/ic_life.svg">
                                        <div class="content-box-divider1"></div>
                                        <div class="content-box-divider2"></div>
                                        <p class="content-box-cat-name">Sống</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-4 col-md d-flex start">
                            <a href="/thecup/template/economy.html">
                                <div class="footer-content-box">
                                    <div class="footer-content-box-inner">
                                        <img class="content-box-icon material-icons" src="/thecup/resources/img/icon/ic_tech.svg">
                                        <div class="content-box-divider1"></div>
                                        <div class="content-box-divider2"></div>
                                        <p class="content-box-cat-name">Công nghệ</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 col-md d-flex end">
                            <a href="/thecup/template/economy.html">
                                <div class="footer-content-box">
                                    <div class="footer-content-box-inner">
                                        <img class="content-box-icon material-icons" src="/thecup/resources/img/icon/ic_art.svg">
                                        <div class="content-box-divider1"></div>
                                        <div class="content-box-divider2"></div>
                                        <p class="content-box-cat-name">Nghệ thuật</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 col-md d-flex start">
                            <a href="/thecup/template/economy.html">
                                <div class="footer-content-box">
                                    <div class="footer-content-box-inner">
                                        <img class="content-box-icon material-icons" src="/thecup/resources/img/icon/ic_sport.svg">
                                        <div class="content-box-divider1"></div>
                                        <div class="content-box-divider2"></div>
                                        <p class="content-box-cat-name">Thể thao</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-lower">
        <div class="container">
            <div class="social-connect">
                <span class="social-connect-text">Kết nối với chúng tôi</span>
                <div class="social-connect-icon">
                    <img src="/thecup/resources/img/icon/ic_facebook.svg" alt="">
                </div>
                <div class="social-connect-icon">
                    <img src="/thecup/resources/img/icon/ic_youtube.svg" alt="">
                </div>
                <div class="social-connect-icon">
                    <img src="/thecup/resources/img/icon/ic_instagram.svg" alt="">
                </div>
                <div class="social-connect-icon">
                    <img src="/thecup/resources/img/icon/ic_twitter.svg" alt="">
                </div>
            </div>
            <div class="divider"></div>
            <div class="the-cup-signature-holder d-flex">
                <div class="the-cup-signature-left me-auto">
                    <a href="#" class="the-cup-logo">
                        <img src="/thecup/resources/img/logo-footer.svg" alt="">
                    </a>
                    <a href="/thecup/template/contact.html" class="the-cup-footer-link">
                        <div class="text">Liên hệ</div>
                    </a>
                    <a href="#" class="the-cup-footer-link">
                        <div class="text">Điều khoản</div>
                    </a>
                    <a href="#" class="the-cup-footer-link">
                        <div class="text">Quảng cáo</div>
                    </a>
                </div>
                <div class="the-cup-signature-right ms-auto">
                    <span>© 2021. All rights reserved by The Cup.</span>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--Footer-end-->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/main.js"></script>
<script src="../assets/js/bootstrap.bundle.min.js"></script>
<script src="../assets/owlcarousel/owl.carousel.min.js"></script>
<script src="https://kit.fontawesome.com/16985780f3.js" crossorigin="anonymous"></script>
</body>
</html>