<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="../assets/owlcarousel/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="../assets/css/responsive.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap"/>
</head>
<body class="my-account-body">
<!--Navigator-bar-->
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/thecup/">
      <img class="logo" height="40" src="../resources/img/Logo.svg" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon material-icons material-icons-outlined">
            menu
            </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Trang chủ</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Kinh tế
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/thecup/template/economy.html">Trang kinh tế</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Các phân nhóm khác</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Sống
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/thecup/template/economy.html">Trang Sống</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Các phân nhóm khác</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Công nghệ
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/thecup/template/economy.html">Trang Sống</a></li>
            <li><a class="dropdown-item" href="#">Phân nhóm 2</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Các phân nhóm khác</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nghệ thuật</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Thể thao</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/thecup/template/search.html">
            <i class="fas fa-search"></i>
          </a>
        </li>
      </ul>
      <div class="nav-register">
        <a href="/thecup/template/login.html" class="">
          <button class="btn btn-light" type="submit">Đăng nhập</button>
        </a>
        <a href="/thecup/template/register.html" class="">
          <button class="btn btn-light ms-1" type="submit">Đăng ký</button>
        </a>

      </div>
    </div>
  </div>
</nav>
<!--Navigator-bar-end-->
<!--Category-banner-start-->
<div class="category-banner">
  <div class="text-block">
    <p class="category">Trang</p>
    <p class="eco">Tài khoản của tôi</p>
  </div>
</div>
<!--Category-banner-end-->
<!--Contact-start-->
<div class="contact-holder">
  <div class="container">
    <div class="row">
      <div class="col-md-7 right">
        <p class="title">
          Thông tin cá nhân
        </p>
        <div class="upload-avatar">
          <p class="text">Ảnh đại diện</p>
          <div class="upload-button">
            <img src="../resources/img/user-img/avatar-icon.svg" alt="">
          </div>
          <input type="file" class="input" accept="image/*">
        </div>
        <div class="row">
          <div class="col-md-6">
            <p class="input-name">Họ và tên</p>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Họ và tên của bạn" aria-label="Recipient's username with two button addons">
            </div>
            <p class="input-name">Số điện thoại</p>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Số điện thoại liên hệ" aria-label="Recipient's username with two button addons">
            </div>
          </div>
          <div class="col-md-6">
            <p class="input-name">Email</p>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Email của bạn" aria-label="Recipient's username with two button addons">
            </div>
            <p class="input-name">Ngày sinh</p>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Chủ đề" aria-label="Recipient's username with two button addons"/>
            </div>
          </div>
        </div>
        <div class="margin-top"></div>
        <p class="title">
          Thông tin tài khoản
        </p>
        <div class="row">
          <div class="col-md-6">
            <p class="input-name">Mật khẩu</p>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Mật khẩu mới phải bao gồm chữ cái đầu viết hoa" aria-label="Recipient's username with two button addons">
            </div>
          </div>
          <div class="col-md-6">
            <p class="input-name">Nhập lại mật khẩu</p>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Nhập lại mật khẩu mới" aria-label="Recipient's username with two button addons">
            </div>
          </div>
        </div>
        <button class="btn btn-primary">Cập nhật thông tin</button>
      </div>
      <div class="col-md-5 left">
        <div class="text-head">
          <p class="text">thông tin gói sử dụng</p>
          <button class="btn" id="purchaseHistory">
            <p class="history">Lịch sử mua gói</p>
          </button>
        </div>
        <div class="trial-card">

        </div>
        <button class="btn btn-primary">
          <a href="/thecup/template/purchase.html">
            Nâng cấp gói
          </a>
        </button>
        <div class="sixmonth-card">

        </div>

        <button class="btn btn-primary">
          <a href="/thecup/template/purchase.html">
            Nâng cấp gói
          </a>

        </button>

      </div>
    </div>
  </div>
</div>
<!--Contact-end-->
<div class="popup-purchase" id="popupPurchase">
  <div class="holder">

  </div>
</div>
<!--Footer-start-->
<footer class="footer-holder">
  <div class="footer-upper">
    <div class="container d-flex">
      <div class="footer-upper-content row">
        <div class="col-md-3">
          <p class="footer-title">Khám phá nhiều hơn
            các chủ đề nổi bật</p>
        </div>
        <div class="col-md-9 fix-margin">
          <div class="row row-cols-auto">
            <div class="col-4 col-md d-flex end">
              <a href="/thecup/template/economy.html">
                <div class="footer-content-box">
                  <div class="footer-content-box-inner">
                    <img class="content-box-icon material-icons" src="/thecup/resources/img/icon/ic_economy.svg">
                    <div class="content-box-divider1"></div>
                    <div class="content-box-divider2"></div>
                    <p class="content-box-cat-name">Kinh tế</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-4 col-md d-flex center">
              <a href="/thecup/template/life.html">
                <div class="footer-content-box">
                  <div class="footer-content-box-inner">
                    <img class="content-box-icon material-icons" src="/thecup/resources/img/icon/ic_life.svg">
                    <div class="content-box-divider1"></div>
                    <div class="content-box-divider2"></div>
                    <p class="content-box-cat-name">Sống</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-4 col-md d-flex start">
              <a href="/thecup/template/economy.html">
                <div class="footer-content-box">
                  <div class="footer-content-box-inner">
                    <img class="content-box-icon material-icons" src="/thecup/resources/img/icon/ic_tech.svg">
                    <div class="content-box-divider1"></div>
                    <div class="content-box-divider2"></div>
                    <p class="content-box-cat-name">Công nghệ</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-6 col-md d-flex end">
              <a href="/thecup/template/economy.html">
                <div class="footer-content-box">
                  <div class="footer-content-box-inner">
                    <img class="content-box-icon material-icons" src="/thecup/resources/img/icon/ic_art.svg">
                    <div class="content-box-divider1"></div>
                    <div class="content-box-divider2"></div>
                    <p class="content-box-cat-name">Nghệ thuật</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-6 col-md d-flex start">
              <a href="/thecup/template/economy.html">
                <div class="footer-content-box">
                  <div class="footer-content-box-inner">
                    <img class="content-box-icon material-icons" src="/thecup/resources/img/icon/ic_sport.svg">
                    <div class="content-box-divider1"></div>
                    <div class="content-box-divider2"></div>
                    <p class="content-box-cat-name">Thể thao</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-lower">
    <div class="container">
      <div class="social-connect">
        <span class="social-connect-text">Kết nối với chúng tôi</span>
        <div class="social-connect-icon">
          <img src="/thecup/resources/img/icon/ic_facebook.svg" alt="">
        </div>
        <div class="social-connect-icon">
          <img src="/thecup/resources/img/icon/ic_youtube.svg" alt="">
        </div>
        <div class="social-connect-icon">
          <img src="/thecup/resources/img/icon/ic_instagram.svg" alt="">
        </div>
        <div class="social-connect-icon">
          <img src="/thecup/resources/img/icon/ic_twitter.svg" alt="">
        </div>
      </div>
      <div class="divider"></div>
      <div class="the-cup-signature-holder d-flex">
        <div class="the-cup-signature-left me-auto">
          <a href="#" class="the-cup-logo">
            <img src="/thecup/resources/img/logo-footer.svg" alt="">
          </a>
          <a href="/thecup/template/contact.html" class="the-cup-footer-link">
            <div class="text">Liên hệ</div>
          </a>
          <a href="#" class="the-cup-footer-link">
            <div class="text">Điều khoản</div>
          </a>
          <a href="#" class="the-cup-footer-link">
            <div class="text">Quảng cáo</div>
          </a>
        </div>
        <div class="the-cup-signature-right ms-auto">
          <span>© 2021. All rights reserved by The Cup.</span>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--Footer-end-->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/main.js"></script>
<script src="../assets/js/bootstrap.bundle.min.js"></script>
<script src="../assets/owlcarousel/owl.carousel.min.js"></script>
<script src="https://kit.fontawesome.com/16985780f3.js" crossorigin="anonymous"></script>
</body>
</html>