<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../assets/css/responsive.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap"/>
</head>
<body class="podcast-single-body">
<!--Navigator-bar-->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="/thecup/">
            <img class="logo" height="40" src="../resources/img/Logo.svg" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon material-icons material-icons-outlined">
            menu
            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Trang chủ</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Kinh tế
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/thecup/template/economy.html">Trang kinh tế</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Các phân nhóm khác</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Sống
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/thecup/template/economy.html">Trang Sống</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Các phân nhóm khác</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Công nghệ
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/thecup/template/economy.html">Trang Sống</a></li>
                        <li><a class="dropdown-item" href="#">Phân nhóm 2</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Các phân nhóm khác</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Nghệ thuật</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Thể thao</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/thecup/template/search.html">
                        <i class="fas fa-search"></i>
                    </a>
                </li>
            </ul>
            <div class="nav-register">
                <a href="/thecup/template/login.html" class="">
                    <button class="btn btn-light" type="submit">Đăng nhập</button>
                </a>
                <a href="/thecup/template/register.html" class="">
                    <button class="btn btn-light ms-1" type="submit">Đăng ký</button>
                </a>

            </div>
        </div>
    </div>
</nav>
<!--Navigator-bar-end-->
<!--Podcast-holder"-start-->
<div class="podcast-holder">
    <div class="container podcast-player-inner">
        <div class="row">
            <div class="col-md-4 podcast-image"></div>
            <div class="col-md-8 podcast-play">
                <p class="category">Sống / Phong cách sống</p>
                <p class="title">Hài lòng với những thứ đã có sẽ làm bạn hạnh phúc hơn</p>
                <div class="podcast-infor">
                    <span class="infor">8 phần</span>
                    <div class="dot-seperator"></div>
                    <span class="infor">86 phút</span>
                    <div class="dot-seperator"></div>
                    <span class="infor">3 bình luận</span>
                    <div class="dot-seperator"></div>
                    <div class="rating-holder">
            <span class="material-icons material-icons-outlined">
            star
            </span>
                        <span class="material-icons material-icons-outlined">
            star
            </span>
                        <span class="material-icons material-icons-outlined">
            star
            </span>
                        <span class="material-icons material-icons-outlined">
            star
            </span>
                        <span class="material-icons material-icons-outlined">
            star_half
            </span>
                        <span class="quantity">(23)</span>
                    </div>
                </div>
                <div class="play-and-sharing">
                    <div class="row">
                        <div class="col-md-4">
                            <button class="btn btn-primary play-button d-flex align-items-center">
                                <i class="fas fa-play"></i>
                                <span class="ms-auto">Nghe tất cả</span>
                            </button>
                        </div>
                        <div class="col-md-6 sharing">
                            <span>Chia sẻ</span>
                            <div class="social">
                                <i class="fab fa-facebook-f"></i>
                            </div>
                            <div class="social">
                                <i class="fab fa-twitter"></i>
                            </div>
                            <div class="social">
                                <i class="fab fa-instagram"></i>
                            </div>
                            <div class="social">
                                <i class="fab fa-youtube"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Podcast-holder"-end-->
<!--Post-start-->
<div class="news-holder">
    <div class="container">
        <div class="news-main">
            <div class="podcast-caption">
                <p>Podcast này là quá trình trải nghiệm của chính bản thân tôi khi tham gia hỗ trợ cùng với các chiến sĩ
                    công an trong đợt dịch Covid 19 tại Bắc Giang. Đợt dịch lớn nhất trong năm ở Việt Nam. Mọi điều được nói
                    trong này đều là cảm nghĩ cá nhân. Bạn có thể đồng tình hoặc không đó là việc của bạn</p>
            </div>
            <div class="divider"></div>
            <div class="rating-holder">
                <div class="text">
                    <span>Đánh giá Podcast</span>
                </div>
                <div class="star">
                    <span class="material-icons material-icons-outlined">
                        star
                    </span>
                    <span class="material-icons material-icons-outlined">
                        star
                    </span>
                    <span class="material-icons material-icons-outlined">
                        star
                    </span>
                    <span class="material-icons material-icons-outlined">
                        star_half
                    </span>
                    <span class="material-icons material-icons-outlined">
                        star_outline
                    </span>
                    <p>Bài viết tạm ổn</p>
                </div>
                <button class="btn btn-outline-primary send-rating">Gửi đánh giá</button>
            </div>
            <div class="divider"></div>
            <div class="news-ads-banner">
                <img src="../resources/img/ads-banner/banner-1.png" alt="">
            </div>
            <div class="comment">
                <div class="title">
                    <p>Bình luận</p>
                </div>
                <div class="comment-block">
                    <div class="row">
                        <div class="col-md-1">
                            <div class="user-avatar"></div>
                        </div>
                        <div class="col-md-11">
                            <p class="user-name">tranvanan122</p>
                            <p class="comment-text">“Bài viết hay, bổ ích mới chỉ áp dụng được một phần thôi đã thấy
                                hiệu quả hẳn ra. Nếu áp dụng được hết chắc chắn sẽ thành công”</p>
                            <p class="comment-date-time">12/05/2021 20:12</p>
                        </div>
                    </div>
                    <button class="btn btn-outline-secondary dropdown-toggle comment-block-button fas fa-ellipsis-v"
                            type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">Thích</a></li>
                        <li><a class="dropdown-item" href="#">Không thích</a></li>
                        <li><a class="dropdown-item" href="#">Báo cáo</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Ẩn</a></li>
                    </ul>
                </div>
                <div class="comment-block">
                    <div class="row">
                        <div class="col-md-1">
                            <div class="user-avatar"></div>
                        </div>
                        <div class="col-md-11">
                            <p class="user-name">phanvantai123</p>
                            <p class="comment-text">Đã từng là quản lý và đã thất bại. Thật sự là không hề dễ. Cảm ơn
                                tác giá đã có một bài viết rất ý nghĩa và sâu sắc</p>
                            <p class="comment-date-time">12/05/2021 20:12</p>
                        </div>
                    </div>
                    <button class="btn btn-outline-secondary dropdown-toggle comment-block-button fas fa-ellipsis-v"
                            type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">Thích</a></li>
                        <li><a class="dropdown-item" href="#">Không thích</a></li>
                        <li><a class="dropdown-item" href="#">Báo cáo</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Ẩn</a></li>
                    </ul>
                </div>
                <div class="post-comment">
                    <div class="row">
                        <div class="col-md-1">
                            <div class="user-avatar"></div>
                        </div>
                        <div class="col-md-11">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here"
                                          id="floatingTextarea"></textarea>
                                <label for="floatingTextarea">Để lại bình luận của bạn</label>
                            </div>
                            <button class="btn btn-primary">Đăng bình luận</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Post-end-->
<!--Podcast-player-start-->
<div class="podcast-player-holder">
    <div class="upper">
        <span class="podcast-title">Hài lòng với nhưng thứ đã có sẽ làm bạn hạnh phúc hơn</span>
        <div class="dot-seperator"></div>
        <span class="podcast-name">Phần 2: Quẳng gánh lo đi mà sống</span>
    </div>
    <div class="divider"></div>
    <div class="lower">
        <div class="container">
            <div class="row">
                <div class="col-md-4 button-holder">
                    <span class="material-icons smaterial-icons-outlined">playlist_play</span>
                    <span class="material-icons material-icons-outlined">1x_mobiledata</span>
                    <span class="material-icons material-icons-outlined">volume_up</span>
                    <span class="material-icons material-icons-outlined">skip_previous</span>
                    <span class="material-icons material-icons-outlined">replay_10</span>
                    <div class="play-button">
                       <span class="material-icons material-icons-outlined">
                        play_arrow
                        </span>
                    </div>
                    <span class="material-icons material-icons-outlined">forward_10</span>
                    <span class="material-icons material-icons-outlined">skip_next</span>
                </div>
                <div class="col-md-8 progress-holder">
                    <span class="time-played">18:43</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span class="total-time">34:43</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Podcast-player-end-->
<!--Footer-start-->
<footer class="footer-holder">
    <div class="footer-upper">
        <div class="container d-flex">
            <div class="footer-upper-content row">
                <div class="col-md-3">
                    <p class="footer-title">Khám phá nhiều hơn
                        các chủ đề nổi bật</p>
                </div>
                <div class="col-md-9 fix-margin">
                    <div class="row row-cols-auto">
                        <div class="col-4 col-md d-flex end">
                            <a href="/thecup/template/economy.html">
                                <div class="footer-content-box">
                                    <div class="footer-content-box-inner">
                                        <p class="content-box-icon material-icons">
                                            track_changes
                                        </p>
                                        <div class="content-box-divider1"></div>
                                        <div class="content-box-divider2"></div>
                                        <p class="content-box-cat-name">Kinh tế</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-4 col-md d-flex center">
                            <a href="/thecup/template/life.html">
                                <div class="footer-content-box">
                                    <div class="footer-content-box-inner">
                                        <p class="content-box-icon material-icons">
                                            track_changes
                                        </p>
                                        <div class="content-box-divider1"></div>
                                        <div class="content-box-divider2"></div>
                                        <p class="content-box-cat-name">Sống</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-4 col-md d-flex start">
                            <a href="/thecup/template/economy.html">
                                <div class="footer-content-box">
                                    <div class="footer-content-box-inner">
                                        <p class="content-box-icon material-icons">
                                            track_changes
                                        </p>
                                        <div class="content-box-divider1"></div>
                                        <div class="content-box-divider2"></div>
                                        <p class="content-box-cat-name">Công nghệ</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 col-md d-flex end">
                            <a href="/thecup/template/economy.html">
                                <div class="footer-content-box">
                                    <div class="footer-content-box-inner">
                                        <p class="content-box-icon material-icons">
                                            track_changes
                                        </p>
                                        <div class="content-box-divider1"></div>
                                        <div class="content-box-divider2"></div>
                                        <p class="content-box-cat-name">Nghệ thuật</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 col-md d-flex start">
                            <a href="/thecup/template/economy.html">
                                <div class="footer-content-box">
                                    <div class="footer-content-box-inner">
                                        <p class="content-box-icon material-icons">
                                            track_changes
                                        </p>
                                        <div class="content-box-divider1"></div>
                                        <div class="content-box-divider2"></div>
                                        <p class="content-box-cat-name">Thể thao</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-lower">
        <div class="container">
            <div class="social-connect">
                <span class="social-connect-text">Kết nối với chúng tôi</span>
                <span class="social-connect-icon material-icons">facebook</span>
                <span class="social-connect-icon material-icons">play_arrow</span>
                <span class="social-connect-icon material-icons">camera_alt</span>
                <span class="social-connect-icon material-icons">sick</span>
            </div>
            <div class="divider"></div>
            <div class="the-cup-signature-holder d-flex">
                <div class="the-cup-signature-left me-auto">
                    <a href="#" class="the-cup-logo">
                        <img src="../resources/img/logo-footer.svg" alt="">
                    </a>
                    <a href="/thecup/template/contact.html" class="the-cup-footer-link">
                        <div class="text">Liên hệ</div>
                    </a>
                    <a href="#" class="the-cup-footer-link">
                        <div class="text">Điều khoản</div>
                    </a>
                    <a href="#" class="the-cup-footer-link">
                        <div class="text">Quảng cáo</div>
                    </a>
                </div>
                <div class="the-cup-signature-right ms-auto">
                    <span>© 2021. All rights reserved by The Cup.</span>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--Footer-end-->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/main.js"></script>
<script src="../assets/js/bootstrap.bundle.min.js"></script>
<script src="../assets/owlcarousel/owl.carousel.min.js"></script>
<script src="https://kit.fontawesome.com/16985780f3.js" crossorigin="anonymous"></script>
</body>
</html>