<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../assets/css/responsive.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap"/>
</head>
<body class="post-body">
<!--Navigator-bar-->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="/thecup/">
            <img class="logo" height="40" src="../resources/img/Logo.svg" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon material-icons material-icons-outlined">
            menu
            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Trang chủ</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Kinh tế
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/thecup/template/economy.html">Trang kinh tế</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Các phân nhóm khác</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Sống
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/thecup/template/economy.html">Trang Sống</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Các phân nhóm khác</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Công nghệ
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/thecup/template/economy.html">Trang Sống</a></li>
                        <li><a class="dropdown-item" href="#">Phân nhóm 2</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Các phân nhóm khác</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Nghệ thuật</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Thể thao</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/thecup/template/search.html">
                        <i class="fas fa-search"></i>
                    </a>
                </li>
            </ul>
            <div class="nav-register">
                <a href="/thecup/template/login.html" class="">
                    <button class="btn btn-light" type="submit">Đăng nhập</button>
                </a>
                <a href="/thecup/template/register.html" class="">
                    <button class="btn btn-light ms-1" type="submit">Đăng ký</button>
                </a>

            </div>
        </div>
    </div>
</nav>
<!--Navigator-bar-end-->
<!--Category-banner-start-->
<div class="category-banner">
    <div class="text-block">
        <p class="category">Chuyên mục</p>
        <p class="eco">Sống</p>
    </div>
</div>
<!--Category-banner-end-->
<!--News-start-->
<div class="news-holder">
    <div class="container">
        <div class="row">
            <div class="news-main col-md-8">
                <div class="post-holder">
                    <div class="post-title">
                        <p class="title-name">Cần biết về Covid-19 và tiêm phòng ngừa Covid-19</p>
                        <div class="author-date-rating">
                            <div class="author">
                                <a href="/thecup/template/author.html">
                                    <span class="material-icons material-icons-outlined">
                                    person
                                    </span>
                                    <span>Chu Thụy Nguyên</span>
                                </a>
                            </div>
                            <div class="date">
                                <span class="material-icons material-icons-outlined">
                                today
                                </span>
                                <span>12/05/2021</span>
                            </div>
                            <div class="rating-holder">
                                <span class="text">Đánh giá</span>
                                <span class="material-icons material-icons-outlined">
                  star
                </span>
                                <span class="material-icons material-icons-outlined">
                  star
                </span>
                                <span class="material-icons material-icons-outlined">
                  star
                </span>
                                <span class="material-icons material-icons-outlined">
                  star_half
                </span>
                                <span class="material-icons material-icons-outlined">
                  star_outline
                </span>
                                <span class="quantity">(23)</span>
                            </div>
                        </div>
                    </div>
                    <div class="post-content">
                        <p class="short-description">Sáng 25.02.2021, tại Worcester, Massachusetts, dược sĩ Mc. Bill nói
                            chuyện ông đã trả lời mọi
                            câu hỏi đặt ra liên quan đến covid-19, vaccine ngừa covid-19, và những thắc mắc liên quan
                            đến việc tiêm phòng. Nội dung cuộc nói chuyện đã được cô Chu Thuỵ Nguyên ghi chép lại, xin
                            được chia sẻ cùng các độc giả</p>
                        <img src="../resources/img/post/post-img-1.png" alt="" class="image">
                        <div class="section-header">
                            <img src="../resources/img/lozenge.svg" alt="" class="lozenge">
                            <p class="section-number">Phần 1</p>
                            <p class="section-name">Cơ sở lý thuyết</p>
                        </div>
                        <p class="post-text">Trước tiên dược sĩ đã nhấn mạnh để chúng ta hiểu rõ về vaccine ngừa
                            covid-19 lần này, so với các loại vaccine truyền thống mà chúng ta từng được tiêm ngừa như:
                            phòng đậu mùa, uốn ván, lao phổi, phong …. Ở các thuốc ngừa truyền thống đó nhà sản xuất đã
                            tạo vaccine ra bằng cách dùng chính con virus gây ra bệnh đó, làm cho nó suy yếu bớt đi, sau
                            đó tiêm nó vào cơ thể con người. Cơ thể chúng ta luôn có sự đề kháng lại với bất cứ vật lạ
                            nào, kể cả vi trùng lạ xâm nhập. Các kháng thể trong người chúng ta luôn giữ vai trò các
                            chiến sĩ phòng thủ, mỗi khi thấy sinh vật lạ xâm nhập là các quân lính tinh nhuệ ấy sẽ bao
                            vây và tiêu diệt các sinh vật lạ ấy (Khi đó chúng ta có thể có phản ứng như: sốt, đau nhức…)
                            Và cuộc chiến ấy nhằm mục đích thao dợt trước cho các chiến sĩ đề kháng của chúng ta chiến
                            đấu tốt để luôn sẵn sàng bảo vệ cơ thể chúng ta. Lỡ một mai, vi trùng các bệnh ấy xâm nhập
                            thật vào cơ thể chúng ta, đội ngũ các chiến sĩ đã quen mặt quân địch rồi nên chúng sẽ kéo
                            nhau ra bao vây và tiêu diệt vi trùng kia để bảo vệ cơ thể chúng ta.</p>
                        <img src="../resources/img/post/post-img-2.png" alt="" class="image">
                        <p class="post-text">Nhưng với Covid-19 ngày nay thì khác, tầm sát hại của nó quá lớn và mạnh,
                            vì vậy ngành dược không thể áp dụng phương thức truyền thống, tức là lấy virus covid làm yếu
                            đi để chích vào cơ thể chúng ta được, vì như vậy sẽ rất nguy hiểm cho bệnh nhân.</p>
                        <div class="text-break"></div>
                    </div>
                </div>
            </div>
            <div class="news-newest col-md-4">
                <div class="new-post-block">
                    <p class="newest-block-title">Bài viết được xem nhiều</p>
                    <div class="newest-post">
                        <div class="row">
                            <div class="col-3">
                                <img src="../resources/img/newest/newest-post-img-1.png" alt="">
                            </div>
                            <div class="col-9">
                                <p class="new-post-title">Sống ý nghĩa hơn nếu biết buông bỏ, nếu biết hài lòng với
                                    những gì
                                    mình có</p>
                                <p class="new-post-category">Sống</p>
                            </div>
                        </div>
                    </div>
                    <div class="newest-post">
                        <div class="row">
                            <div class="col-3">
                                <img src="../resources/img/newest/newest-post-img-2.png" alt="">
                            </div>
                            <div class="col-9">
                                <p class="new-post-title">Đầu tư vào chứng khoán cho người mới
                                    bắt đầu</p>
                                <p class="new-post-category">Kinh tế</p>
                            </div>
                        </div>
                    </div>
                    <div class="newest-post">
                        <div class="row">
                            <div class="col-3">
                                <img src="../resources/img/newest/newest-post-img-3.png" alt="">
                            </div>
                            <div class="col-9">
                                <p class="new-post-title">Chiếc tai nghe đắt nhất thế giới có gì hay?</p>
                                <p class="new-post-category">Sống</p>
                            </div>
                        </div>
                    </div>
                    <div class="newest-post">
                        <div class="row">
                            <div class="col-3">
                                <img src="../resources/img/newest/newest-post-img-4.png" alt="">
                            </div>
                            <div class="col-9">
                                <p class="new-post-title">The Cup ra mắt app mobile giúp độc giả tiếp
                                    cận mọi lúc mọi nơi</p>
                                <p class="new-post-category">Sống</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="new-podcast-block">
                    <p class="newest-block-title">các seri podcast nghe nhiều</p>
                    <div class="newest-post">
                        <div class="row">
                            <div class="col-3">
                                <img src="../resources/img/newest/newest-podcast-img-1.png" alt="">
                            </div>
                            <div class="col-9">
                                <p class="new-post-title">Kinh nghiệm X2 tài khoản chỉ trong vòng 3 tháng</p>
                                <p class="new-post-category">kinh tế</p>
                            </div>
                        </div>
                    </div>
                    <div class="newest-post">
                        <div class="row">
                            <div class="col-3">
                                <img src="../resources/img/newest/newest-podcast-img-2.png" alt="">
                            </div>
                            <div class="col-9">
                                <p class="new-post-title">Smartwatch đầu tiên được sản xuất tại Việt
                                    Nam</p>
                                <p class="new-post-category">kinh tế</p>
                            </div>
                        </div>
                    </div>
                    <div class="newest-post">
                        <div class="row">
                            <div class="col-3">
                                <img src="../resources/img/newest/newest-podcast-img-1.png" alt="">
                            </div>
                            <div class="col-9">
                                <p class="new-post-title">Thử nghiệm oto điện Vinfast? Liệu đã đủ vươn
                                    ra thế giới?</p>
                                <p class="new-post-category">Sống</p>
                            </div>
                        </div>
                    </div>
                    <div class="newest-post">
                        <div class="row">
                            <div class="col-3">
                                <img src="../resources/img/newest/newest-podcast-img-4.png" alt="">
                            </div>
                            <div class="col-9">
                                <p class="new-post-title">The Cup ra mắt app mobile giúp độc giả có thể tiếp
                                    cận mọi lúc mọi nơi</p>
                                <p class="new-post-category">Sống</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Economy-end-->
<!--Restrict-->
<div class="restrict-layer">
    <div class="restrict-layer-text fixed-bottom transition">
        <div class="wrapper">
            <p class="text1">Bài viết bị giới hạn</p>
            <p class="text2">Vui lòng Đăng nhập hoặc Đăng ký để tiếp tục</p>
            <div class="button-holder">
                <button class="btn btn-primary button-reg">Đăng ký</button>
                <span>Hoặc</span>
                <button class="btn btn-primary button-log">Đăng nhập</button>
            </div>
        </div>
    </div>
</div>

<!--Footer-start-->
<footer class="footer-holder">
    <div class="footer-upper">
        <div class="container d-flex">
            <div class="footer-upper-content row">
                <div class="col-md-3">
                    <p class="footer-title">Khám phá nhiều hơn
                        các chủ đề nổi bật</p>
                </div>
                <div class="col-md-9 fix-margin">
                    <div class="row row-cols-auto">
                        <div class="col-4 col-md d-flex end">
                            <a href="/thecup/template/economy.html">
                                <div class="footer-content-box">
                                    <div class="footer-content-box-inner">
                                        <img class="content-box-icon material-icons" src="/thecup/resources/img/icon/ic_economy.svg">
                                        <div class="content-box-divider1"></div>
                                        <div class="content-box-divider2"></div>
                                        <p class="content-box-cat-name">Kinh tế</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-4 col-md d-flex center">
                            <a href="/thecup/template/life.html">
                                <div class="footer-content-box">
                                    <div class="footer-content-box-inner">
                                        <img class="content-box-icon material-icons" src="/thecup/resources/img/icon/ic_life.svg">
                                        <div class="content-box-divider1"></div>
                                        <div class="content-box-divider2"></div>
                                        <p class="content-box-cat-name">Sống</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-4 col-md d-flex start">
                            <a href="/thecup/template/economy.html">
                                <div class="footer-content-box">
                                    <div class="footer-content-box-inner">
                                        <img class="content-box-icon material-icons" src="/thecup/resources/img/icon/ic_tech.svg">
                                        <div class="content-box-divider1"></div>
                                        <div class="content-box-divider2"></div>
                                        <p class="content-box-cat-name">Công nghệ</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 col-md d-flex end">
                            <a href="/thecup/template/economy.html">
                                <div class="footer-content-box">
                                    <div class="footer-content-box-inner">
                                        <img class="content-box-icon material-icons" src="/thecup/resources/img/icon/ic_art.svg">
                                        <div class="content-box-divider1"></div>
                                        <div class="content-box-divider2"></div>
                                        <p class="content-box-cat-name">Nghệ thuật</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-6 col-md d-flex start">
                            <a href="/thecup/template/economy.html">
                                <div class="footer-content-box">
                                    <div class="footer-content-box-inner">
                                        <img class="content-box-icon material-icons" src="/thecup/resources/img/icon/ic_sport.svg">
                                        <div class="content-box-divider1"></div>
                                        <div class="content-box-divider2"></div>
                                        <p class="content-box-cat-name">Thể thao</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-lower">
        <div class="container">
            <div class="social-connect">
                <span class="social-connect-text">Kết nối với chúng tôi</span>
                <div class="social-connect-icon">
                    <img src="/thecup/resources/img/icon/ic_facebook.svg" alt="">
                </div>
                <div class="social-connect-icon">
                    <img src="/thecup/resources/img/icon/ic_youtube.svg" alt="">
                </div>
                <div class="social-connect-icon">
                    <img src="/thecup/resources/img/icon/ic_instagram.svg" alt="">
                </div>
                <div class="social-connect-icon">
                    <img src="/thecup/resources/img/icon/ic_twitter.svg" alt="">
                </div>
            </div>
            <div class="divider"></div>
            <div class="the-cup-signature-holder d-flex">
                <div class="the-cup-signature-left me-auto">
                    <a href="#" class="the-cup-logo">
                        <img src="/thecup/resources/img/logo-footer.svg" alt="">
                    </a>
                    <a href="/thecup/template/contact.html" class="the-cup-footer-link">
                        <div class="text">Liên hệ</div>
                    </a>
                    <a href="#" class="the-cup-footer-link">
                        <div class="text">Điều khoản</div>
                    </a>
                    <a href="#" class="the-cup-footer-link">
                        <div class="text">Quảng cáo</div>
                    </a>
                </div>
                <div class="the-cup-signature-right ms-auto">
                    <span>© 2021. All rights reserved by The Cup.</span>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--Footer-end-->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/main.js"></script>
<script src="../assets/js/bootstrap.bundle.min.js"></script>
<script src="../assets/owlcarousel/owl.carousel.min.js"></script>
<script src="https://kit.fontawesome.com/16985780f3.js" crossorigin="anonymous"></script>
</body>
</html>